graphs/*
data/*
results/*
cache/*
report/*
reports/
gwas/

# Local Environment
.R/
.bin/
.direnv/

# Renv artifacts
renv/renv/
renv/x86_64-pc-linux-gnu/

# Ignore specific docs
docs/S0033291722002501sup001.docx
docs/sef_prevalence.png
docs/v2-76a4a58ce176db26cdb8aa103c0b3119_r.jpg


